 <div class="col-6">
    <div class="mb-3 card">
        <div class="card-body">
            <div class="col-2">
                <%= profile_image(user, "profile-big")%>
            </div>
            <div class="col-10">
                <h6><%= link_to user.name, user_path(user)%></h6>
                <span><%= user.email%></span>
            </div>
        </div>
    </div>
</div>